<div class="quiz-container">

  <div *ngIf="quiz$ | async as quiz">

    <div class="quizz-title">
      <h2>
        <span>{{quiz.title}}</span>
      </h2>         
    </div>

    <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()">
      <div formArrayName="questions">
        <div *ngFor="let question of questions.controls; let i = index" [formGroupName]="i" class="question-block">

          <div *ngIf="currentQuestionIndex == i">
  
            <div class="quizz-question">
              <h3>
                <span>Question n°{{i + 1}}</span>
              </h3>     
  
              <pre [innerHTML]="question.get('content')?.value" class="pre-formatted-text"></pre> 

            </div>

              <div *ngIf="question.get('answers')?.value.length == 1">
    
                  <ul>
                    <li *ngFor="let choice of question.get('choices')?.value">
                      
                      <label for="choice.content">
                      <input type="radio" [value]="choice.content" [id]="choice.id" formControlName="selectedChoices">
                      {{choice.content}}
                      </label>                                             

                    </li>         
                  </ul>    
    
              </div>

              <div *ngIf="question.get('answers')?.value.length > 1">

                <ul>
                  <li *ngFor="let choice of question.get('choices')?.value">
                    
                    <label for="choice.content">
                    <input type="checkbox" [value]="choice.content" [id]="choice.id" formControlName="selectedChoices"/>   
                    {{choice.content}}
                    </label>               
                  </li>         
                </ul>

              </div>

                <button type="submit" [disabled]="question.invalid" class="submit-btn">VALIDER</button>                         
        
          </div> 
        </div>
      </div>
    </form>

    <div *ngIf="isQuizCompleted">

      <div class="quizz-result">
        <h3>You have {{correctAnswers}} correct Answers</h3>
      </div>
      
      <div *ngFor="let question of questions.controls; let i = index">
        

        <div [ngStyle]="{'background-color': question.get('isCorrect')?.value? 'limegreen': 'salmon'}" class="question-answer">
          <h3>
            <span>Question n°{{i + 1}}</span>
          </h3>     
          <pre [innerHTML]="question.get('content')?.value" class="pre-formatted-text"></pre>

          <h4>Correct Answer:</h4>
          <p>{{question.get('answers')?.value}}</p>
          
          <div *ngIf="!question.get('isCorrect')?.value">
            <h4>Your answer:</h4>
            <p>{{question.get('selectedChoices')?.value}}</p>
          </div>
 

      </div>

    </div>
 
  </div>
</div>